html {
  font-family: Georgia, serif;
  background-color: #495562;
  color: #efefef;
}

.banner {
  max-height: 500px;
}

.banner-content {
  color: #fff;
}

.btn-ghost {
  background-color: transparent;
  color: #fff;
  border-color: #97a49b;
}

@media only screen and (min-width: 60em) {

  .wrapper {
    position: relative;
    padding-bottom: 0;
    overflow: hidden;
    max-height: 500px;
  }

  .banner {
    position: absolute;
    top: 70%;
    background-image: linear-gradient(to top, #495562, rgba(73, 85, 98, .2));
    background-size: auto auto;
    background-position: center center;
    background-repeat: no-repeat;
    padding-bottom: 0;
  }
}

@media only screen and (min-width: 90em) {

  .wrapper {
    max-width: 1500px;
  }
}
