html {
  margin: 0;
  display: inline-block;
  font-family: Georgia, sans-serif;
}

div {
  background-color: #495562;
}

.img-flex {
  display: block;
  width: 100%;
}

.banner {
  position: relative;
  max-height: 500px;
  background-image: linear-gradient(to bottom, #97a49b, rgba(73, 85, 98, .9));
}

.banner-content {
  color: #fff;
}

.button {
  text-align: inherit;
  text-decoration: none;
}

.btn-ghost {
  background-color: transparent;
  color: #fff;
  border-color: #efefef;
}

@media only screen and (min-width: 38em) {

  .banner {
    position: relative;
  }

  .banner-content {
    color: #fff;
    position: absolute;
    bottom: 0;
  }
}

@media only screen and (min-width: 60em) {

}

@media only screen and (min-width: 90em) {

}
